.weatherList{
    display: flex;
    width: calc(100% - 4rem);
    overflow-x: auto;
    align-items: center;
    gap: 0.625rem;
    margin: 0 2rem;
    padding: 1rem;
    &::-webkit-scrollbar{
      height: 0.5rem;
    }
    &:hover::-webkit-scrollbar-track{
      background: transparent;
    }
    &:hover::-webkit-scrollbar-thumb{
      background: #bcbcbc;
      border-radius: 0.5rem;
    }
}
.skeletonLoader{
  display: flex;
  gap: 0.625rem;
  margin: 0 2rem;
  padding: 1rem;
  width: calc(100% - 4rem);
  .skeletonItem {
    border-radius: 5px;
    width: 6.25rem;
    height: 172px;
    background: linear-gradient(90deg, hsl(0, 0%, 90%)25%, hsl(200, 20%, 95%) 50%, hsl(0, 0%, 90%) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s ease-in-out infinite;
  }
}
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
      background-position: -200% 0;
  }
}